html {
  font-family: Verdana, Arial, Tahoma, Serif;
}
body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: gray;
  margin: 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s;
}
@media screen and (max-height: 400px) {
  body {
    align-items: flex-start;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
}
#numberSpaceDisplay > span {
  width: 10px;
  height: 10px;
  margin: 2px;
  border-radius: 100%;
  background-color: green;
  display: inline-block;
}
@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(-10%);
  }
  20% {
    transform: translateX(+10%);
  }
  30% {
    transform: translateX(-10%);
  }
  40% {
    transform: translateX(10%);
  }
  50% {
    transform: translateX(-10%);
  }
  60% {
    transform: translateX(10%);
  }
  70% {
    transform: translateX(-10%);
  }
  80% {
    transform: translateX(10%);
  }
  90% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0px);
  }
}
#a,
#b,
#c,
#op,
#eq {
  display: inline-flex;
  font-size: 3em;
  width: 2em;
  height: 2em;
  align-items: center;
  justify-content: center;
}
.hole {
  background-color: white;
  border-radius: 10%;
}
#app {
  font-size: min(1em, 2vw);
  display: none;
  flex-direction: column;
  align-content: center;
  align-items: center;
  > button {
    color: green;
  }
}
#app button {
  font-size: 3em;
  min-width: max(1.5em, 3rem);
  height: max(1.5em, 3rem);
  margin: 0.25em;
}

#numpad {
  display: block;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 3rem;
  text-align: center;
}
.incorrect {
  animation: 1s shake;
  animation-iteration-count: 4;
}

/* Menu */
#menu {
  position: relative;
  width: min(80%, 425px);
  background: white;
  border-radius: 30px;

  box-sizing: border-box;
  padding: 30px;
  padding-top: 80px;
  box-shadow: 0px 0px 0px 3px red;
  margin: 50px;
}

input[type='radio'] {
  display: none;
}
input[type='radio'] + label + div {
  display: none;
}
input[type='radio']:checked + label + div {
  display: block;
}

#menu > input[type='radio']:checked + label::before {
  opacity: 1;
}

#menu > label[for^='rb'] {
  top: 0px;
  width: calc(50% - 10px);
  font-size: 12px;

  position: absolute;
  height: 60px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
}
#menu > input[type='radio']:checked + label {
  background: rgba(0, 0, 250, 0.25);
}
label[for='rbTime'] {
  left: 0px;
}
label[for='rbAmount'] {
  right: 0px;
}

/* #menu > label[for^='rb']::before {
  content: '';
  position: absolute;
  margin-top: 15px;
  width: calc(100%);
  height: calc(100% - 30px);
  display: block;
  background-color: rgba(0, 0, 255, 0.25);
  border-radius: 20px;
  opacity: 0;
  transition: opacity 1s;
} */
#menu > label[for^='rb']::after {
  content: '';
  width: calc(100%);
  height: calc(100% - 30px);
  display: inline-block;
  position: absolute;
  left: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 5px;
}
label[for='rbTime']::after {
  background-image: url(/clock.svg);
}

label[for='rbAmount']::after {
  background-image: url(/layer.svg);
}

#qr {
  text-align: center;
}

input[type='radio'][name='start']:checked ~ label {
  background-color: rgba(0, 0, 255, 0.25);
}
input[type='radio'][name='end']:checked ~ label {
  background-color: transparent;
}
input[type='radio'][name='end']:checked + label {
  background-color: rgba(0, 0, 255, 0.5);
}

input[type='radio'][name='start'] + label,
input[type='radio'][name='end'] + label {
  user-select: none;
  display: inline-flex;
  text-align: right;
  width: 3ch;
  height: 3ch;
  justify-content: end;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 3px;
  box-sizing: border-box;
}
#rb100 + label {
  padding: 0;
}
#submit {
  margin-top: 1em;
  font-size: 1.5em;
  width: 100%;
}
#submit > img {
  width: 1em;
  margin-right: 1ch;
}

/* Animation */
@keyframes anim {
  0% {
    background-image: url(/robot.svg);
    left: -30px;
    bottom: 0px;
  }
  1% {
    background-image: url(/robot.svg);
    left: 0px;
  }
  20% {
    background-image: url(/robot.svg);
    left: 25%;
  }
  30% {
    background-image: url(/robot.svg);
    left: -30px;
    bottom: 0px;
  }
  40% {
    background-image: url(/rocket-ship.svg);
    left: -30px;
    bottom: -30px;
  }
  50% {
    left: 0px;
    bottom: 0px;
  }
  70% {
    left: 0px;
    bottom: 0px;
  }
  100% {
    background-image: url(/rocket-ship.svg);
    left: 10000px;
    bottom: 10000px;
  }
}
#menu::after {
  content: '';
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  display: block;
  animation-name: anim;
  animation-duration: 60s;
  animation-delay: 120s;
  animation-iteration-count: infinite;
}
.gh {
  position: absolute;
  text-align: center;
  margin-top: 50px;
  width: 100%;
  left: 0px;
  font-size: 0.75em;
}

#btnBack {
  position: fixed;
  top: 0px;
  left: 0px;
  text-decoration: none;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.25);
  padding: 0.25rem;
}

.statistics {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  text-align: center;
}

.statistics > p.grade {
  font-size: 5em;
}
.statistics .gap {
  background: white;
  border-radius: 3px;
  padding: 0.25em;
}
.statistics h2 {
  font-size: 1em;
  padding-top: 1.5em;
}
.statistics h2 .succ {
  margin-left: 1ch;
  margin-right: 1ch;
}
.ok {
  margin: 3em;
}
